.login-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-modal h2{
      color: #FB8628;
  }
  .modal-signin-button {
    width: 200px;
    height: 50px;
    background-color: #FB8628;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
    font-weight: 1000;
    font-size: large;
  }
  .login-modal h4{
      color: #0E7460;
  }
  .login-modal .privacy {
    color: #888888;
    font-size: 11px;
  }
  .login-modal .privacy a {
    color: blue;
    cursor: pointer;
  }
  